<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}My amazing site{% endblock %}</title>
	
	
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
		<link rel="stylesheet" type="text/css" href="/members/static/screen.css" />
	
	 <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
	<link href="/members/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
	
	<!-- Jquery -->
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
	<script src="/members/static/js/bootstrap.min.js"></script>
	

	
	<script>
		$(function() {
		$( "#id_payment_date" ).datepicker({ dateFormat: "dd/mm/yy" });
		});
	</script>	
	
 	<script>
		$(function() {
		$( document ).tooltip();
		});
	</script>

	<style>
	label {
		display: inline-block;
		width: 5em;
		}
	</style>
	

	
</head>

<body>

	<div class="row">
    	<div class="span11 offset1">

    <ul class="nav nav-pills">
		<li class="{% block active_membership %}{% endblock %}"><a href="/membership/">Membership</a></li>
		<li class="{% block active_members %}{% endblock %}"><a href="/member/">Members</a></li>
		<li class="{% block active_payments %}{% endblock %}"><a href="/payment/">Payments</a></li>
		<li><a href="">Bank Details</a></li>
		<li><a href="">Maintenance</a></li>
		<li><a href="">Equipment</a></li>
    </ul>

			<div class="row">
				<div class="span2">
					{% block sidebar %}
					
					<h4 class="text-left">Add New</h4> 
					<a class="" href="/payment/manage/">Payment</a><br>
					<a class="" href="">Member</a>
					
					{% endblock sidebar %}
					
					<br>
					
					{% block sidebar2 %}{% endblock sidebar2 %}					
					
					
					
				</div>
			    
			    <div class="span9">
			        {% block content %}{% endblock content %}
			    </div>
			</div>
			
		</div>
	</div>
	

</body>
</html>