<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}My amazing site{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}screen.css" />
	
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
	
	<script>
		$(function() {
		$( "#id_payment_date" ).datepicker({ dateFormat: "dd/mm/yy" });
		});
	</script>	
	
	
</head>

<body>
    <div id="sidebar">
        <ul>
            <li><a href="/admin/">Admin</a></li>
            <li><a href="/membership/">Membership</a></li>
            <li><a href="/member/">Members</a></li>
            <li><a href="/payment/">Payments</a></li>
            <li><a href="/payment/manage/">Add Payment</a></li>
        </ul>
    </div>	
    
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>