{% extends "base.html" %}

{% block title %}Payment Detail{% endblock %}

{% block content %}
<h1>{{ member.first_name }} {{ member.last_name }}</h1>

<h3>Payment Breakdown : Reference {{ payment.id }}</h3>
<table>
  <tbody>
    <tr>
      <td>Name : </td>
      <td><a href="/payment/member/{{ payment.member.id }}/">{{ payment.member }}</a></td>
      <td>Membership : </td>
      <td>{{ payment.member.membership_type }}</td>
    </tr>
  </tbody>
  </table>

<br>  

<table>
  <tbody>
    <tr>
      <td>Date : </td>
      <td>{{ payment.payment_date }}</td>
      <td>Type :</td>
      <td>{{ payment.get_payment_type_display }}</td>
    </tr>
    <tr>
      <td>Amount : </td>
      <td>{{ payment.amount }}</td>
      <td>Note :</td>
      <td>{{ payment.payment_note }}</td>      
    </tr>
  </table>
  
<br>
<br>
<br>
{% endblock %}