{% extends "base.html" %}

{% block title %}List of Payments{% endblock %}

{% block content %}
	<h2>List of Payments</h2>
	{% if member_payment_list %}
<table>
  <tbody>
  	<th>Payment Date</th>
  	<th>Name</th>
  	<th>Amount</th>
    <tr>
	    {% for payment in member_payment_list %}
			<td><a href="/payment/{{ payment.id }}/">{{ payment.payment_date }}</a></td>
	        <td>{{ payment.member }}</td>
	        <td>{{ payment.amount }}</a></td>
	</tr>
	    {% endfor %}
 </tbody>
</table>
	{% else %}
	    <p>No payments are available.</p>
	{% endif %}
{% endblock %}
