{% extends "base.html" %}

{% block active_addpayment %}active{% endblock %}

{% block title %}List of Payments{% endblock %}

{% block content %}

<h3>Add \ Edit Payment</h3>



<form action="" method="POST">{% csrf_token %}

{{ form.non_field_errors }}
<table>
	<tbody>
		<tr>
			<td>    
				<div class="fieldWrapper">
			        {{ form.member.errors }}
			        <label for="id_member">Member:</label>
			        {{ form.member }}
    			</div>
    		</td>
    		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>
			    <div class="fieldWrapper">
			        {{ form.payment_date.errors }}
			        <label for="id_payment_date">Date:</label>
						<div class="input-append">
			        		<span class="add-on"><i class="icon-calendar"></i></span>
			        		<input type="text" class="input-medium datepicker"  {{ form.payment_date }}
						</div>
    			</div>
			</td>
		</tr>

		<tr>
			<td>
			    <div class="fieldWrapper">
			        {{ form.amount.errors }}
			        <label for="id_amount">Amount:</label>
			        {{ form.amount }}
    			</div>
			</td>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>
			    <div class="fieldWrapper">
			        {{ form.payment_type.errors }}
			        <label for="id_payment_type">Type:</label>
			        {{ form.payment_type }}
			    </div>
			</td>
		</tr>

		<tr>
			<td>
			    <div class="fieldWrapper">
			        {{ form.payment_note.errors }}
			        <label for="id_payment_note">Note:</label>
			        {{ form.payment_note }}
    			</div>
			</td>
			<td>
	        
			</td>
		</tr>		
	</tbody>
</table>

    <p><input type="submit" value="Save" /></p>
</form>

 
{% endblock %}