{% extends "base.html" %}

{% block title %}List of Payments{% endblock %}

{% block content %}



<form action="" method="post">{% csrf_token %}
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        {{ form.member.errors }}
        <label for="id_member">Member:</label>
        {{ form.member }}
    </div>
    <div class="fieldWrapper">
        {{ form.payment_note.errors }}
        <label for="id_payment_note">Note:</label>
        {{ form.payment_note }}
    </div>
    <div class="fieldWrapper">
        {{ form.payment_date.errors }}
        <label for="id_payment_date">Date:</label>
        {{ form.payment_date }}
    </div>    
    <div class="fieldWrapper">
        {{ form.amount.errors }}
        <label for="id_amount">Amount:</label>
        {{ form.amount }}
    </div>       
    <div class="fieldWrapper">
        {{ form.payment_type.errors }}
        <label for="id_payment_type">payment_type:</label>
        {{ form.payment_type }}
    </div>      
    <p><input type="submit" value="Submit" /></p>
</form>

{% endblock %}