{% extends "base.html" %}

{% block title %}List of Payments{% endblock %}

{% block content %}
	<h2>List of Payments</h2>
	{% if latest_payment_list %}
<table border="1" align="center" >
  <tbody>
  	<th>Reference</th>
  	<th>Payment Date</th>
  	<th>Name</th>
  	<th>Amount</th>
    <tr>
	    {% for payment in latest_payment_list %}
			<td><a href="/payment/{{ payment.id }}/">{{ payment.id }}</a></td>
			<td>{{ payment.payment_date }}</a></td>
			<td><a href="/payment/member/{{ payment.member.id }}/">{{ payment.member }}</a></td>
	        <td>{{ payment.amount }}</a></td>
	</tr>
	    {% endfor %}
 </tbody>
</table>
	{% else %}
	    <p>No payments are available.</p>
	{% endif %}
{% endblock %}
