body {
	width: 960px;
	margin: 0 auto;	
	font-family:arial;
	color: black ;
}

table
{
	box-shadow: 5px 5px 5px #888888; 
}

table
{
	border-collapse:collapse;
	border: 1px solid black;
}



td:nth-child(odd) {
	padding-right:5px;
	text-align:right;
	width:160px;
	font-weight:bold;
}

td:nth-child(even) {
	padding-left:5px;
	text-align:left;
	width:250px;
}

