{% extends "base.html" %}

{% block active_members %}active{% endblock %}

{% block title %}List of Members{% endblock %}

{% block content %}

<h3>Members</h3>
 
{% if member_index %}

<table id="myTable"  class="table tablesorter">
	<thead>
	   <tr>
			<th>Name</th>
			<th>Email</th>
			<th>Membership</th>
			<th>Payments</th>
			<th>Method</th>
			<th>Wins</th>
			<th>Edit</th>
		</tr>
	<thead>
	<tbody>
{% for member in member_index %}
		<tr>
			<td><a href="/member/{{ member.id }}/">{{ member.full_name }}</a></td>
			<td><a href="mailto:{{ member.email }}">{{ member.email }}</a></td>
			<td><a href="/member/?membership_type={{ member.membership_type.id }}">{{ member.membership_type }}</a></td>
			<td><a href="/payment/?member={{ member.id }}"><img src="/members/static/icons/history.png" alt="Payment History" width="24" length="24"> ( {{ member.payments.count }} )</a></td>
			<td>{{ member.get_payment_method_display }}</td>
			<td><a href="/results/?crew_members={{ member.id }}/"><img src="/members/static/icons/wins.png" alt="Edit Member" width="24" length="24"></a></td>
			<td><a href="/member/manage/{{ member.id }}/"><img src="/members/static/icons/edit.png" alt="Edit Member" width="24" length="24"></a></td>
		</tr>
	{% endfor %}
	</tbody>
</table>

<!-- pager -->
<div id="pager" class="pager">
  <form>
    <img src="/members/static/pager/icons/first.png" class="first"/>
    <img src="/members/static/pager/icons/prev.png" class="prev"/>
    <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
    <img src="/members/static/pager/icons/next.png" class="next"/>
    <img src="/members/static/pager/icons/last.png" class="last"/>
    <select class="input-mini pagesize">
      <option selected="selected" value="10">10</option>
      <option value="20">20</option>
      <option value="30">30</option>
      <option value="40">40</option>
    </select>
    <select class="input-mini gotoPage" title="Select page number"></select>
  </form>
</div>

<div align="right"><a href="/member/export/">Export</a></div>
{% else %}
<p>No members are available.</p>
{% endif %}

{% endblock %}

{% block sidebar2 %}
    <form action="" method="get" class="input-medium">
		<h4 class="text-left">Member</h4>
			<select class="input-medium" {{ member_index.form.full_name }}
		<input class="btn btn-success" type="submit" value="Apply" />
	</form>

    <form action="" method="get" class="input-medium">
		<h4 class="text-left">Filter</h4>
			Member Status<br>
			<select class="input-medium" {{ member_index.form.member_status }}
			Member Type<br>
			<select class="input-medium" {{ member_index.form.membership_type }}
			Payment Method<br>
			<select class="input-medium" {{ member_index.form.payment_method }}
		<input class="btn btn-success" type="submit" value="Apply" />
	</form>
	<a class="btn btn-success" href="/member/">Show All</a>

{% endblock sidebar2%}
