{% extends "base.html" %}

{% load pagination_tags %}

{% block active_members %}active{% endblock %}

{% block title %}List of Members{% endblock %}

{% block content %}

<h3>Members</h3>
 
{% if member_index %}

{% autopaginate member_index 10 %}

<table class="table table-hover">
  <tbody>
   <tr>
		<th>Name</th>
		<th>Email</th>
		<th>Membership</th>
		<th>Payments</th>
		<th>Method</th>
		<th>Edit</th>
	</tr>
{% for member in member_index %}
	<tr>
		<td><a href="/member/{{ member.id }}/">{{ member.full_name }}</a></td>
		<td><a href="mailto:{{ member.email }}">{{ member.email }}</a></td>
		<td><a href="/member/?membership_type={{ member.membership_type.id }}">{{ member.membership_type }}</a></td>
		<td><a href="/payment/?member={{ member.id }}"><img src="/members/static/history.png" alt="Payment History" width="24" length="24"> ( {{ member.payments.count }} )</a></td>
		<td>{{ member.get_payment_method_display }}</td>
		<td><a href="/member/manage/{{ member.id }}/"><img src="/members/static/edit.png" alt="Edit Member" width="24" length="24"></a></td>
	</tr>
{% endfor %}

</tbody>
</table>

{% paginate %}

<div align="right"><a href="/member/export/">Export</a></div>
{% else %}
<p>No members are available.</p>
{% endif %}

{% endblock %}

{% block sidebar2 %}
    <form action="" method="get" class="input-medium">
		<h4 class="text-left">Member</h4>
			{{ member_index.form.full_name }}
		<input class="btn btn-success" type="submit" value="Apply" />
	</form>

    <form action="" method="get" class="input-medium">
		<h4 class="text-left">Filter</h4>

			Member Type<br>
			{{ member_index.form.membership_type }}
			Payment Method<br>
			{{ member_index.form.payment_method }}
		<input class="btn btn-success" type="submit" value="Apply" />
	</form>
	<a class="btn btn-success" href="/member/">Show All</a>

{% endblock sidebar2%}
