{% extends "base.html" %}

{% block active_members %}active{% endblock %}

{% block title %}Member Detail{% endblock %}

{% block content %}
<h3>{{ member.first_name }} {{ member.last_name }}</h3>

<table>
  <tbody>
    <tr>
      <td>Title : </td>
      <td>{{ member.get_title_display }}</td>
	  <td></td>
      <td>Date of Birth : </td>
      <td>{{ member.date_of_birth }}</td>
    </tr>
    <tr>
      <td>First Name : </td>
      <td>{{ member.first_name }}</td>
      <td></td>
      <td>Gender : </td>
      <td>{{ member.get_gender_display }}</td>      
    </tr>
    <tr>
      <td>Last Name : </td>
      <td>{{ member.last_name }}</td>
      <td></td>
      <td>Payment :</td>
      <td><a href="/payment/?member={{ member.id }}">Payment History</a></td></td><td>
    </tr>
	<tr>
		<td><br></td>
	</tr>
	<tr>
      <td>Membership : </td>
      <td><a href="/member/?membership_type={{ member.membership_type.id }}">{{ member.membership_type.name }}</a></td>
      <td></td>
      <td>Payment :</td>
      <td>Cheque</td>
	</tr>
	<tr>
		<td><br></td>
	</tr>
	      <td> Created By : </td>
	      <td>Rob FO</td>
	      <td></td>
	      <td>Start Date :</td>
	      <td>{{ member.start_date }}</td>
	    </tr>
	    <tr>
	      <td>Parent/Guardian : </td>
	      <td>{{ member.pg_name }}</td>
	      <td></td>
	      <td>asdf</td>
	      <td>fdsa</td>
	    </tr>
	  </tbody>
	</table>  	  

<br>

<div class="tabbable">
<ul class="nav nav-tabs">
	<li class="active"><a href="#tab1" data-toggle="tab">Address</a></li>
	<li><a href="#tab2" data-toggle="tab">Emergency</a></li>
	<li><a href="#tab3" data-toggle="tab">Rowing</a></li>
	<li><a href="#tab4" data-toggle="tab">Swimming Ability</a></li>
	<li><a href="#tab5" data-toggle="tab">Health Questionnaire</a></li>
</ul>

<!-- Address -->
<div class="tab-content">
<div class="tab-pane active" id="tab1">
<table>
  <tbody>
    <tr>
      <td>Address 1 : </td>
      <td>{{ member.address_1 }}</td>
      <td>Home Phone :</td>
      <td>{{ member.home_phone }}</td>
    </tr>
    <tr>
      <td>Address 2 : </td>
      <td>{{ member.address_2 }}</td>
      <td>Mobile Phone :</td>
      <td>{{ member.mobile_phone }}</td>      
    </tr>
    <tr>
      <td>Town/City : </td>
      <td>{{ member.address_3 }}</td>
      <td>Email :</td>
      <td><a href="mailto:{{ member.email }}">{{ member.email }}</a></td>
    </tr>
    <tr>
      <td>County : </td>
      <td>{{ member.address_4 }}</td>
      <td></td>
      <td></td>      
    </tr>            
    <tr>
      <td>Post Code : </td>
      <td>{{ member.post_code }}</td>
      <td></td>
      <td></td>      
    </tr>
  </tbody>
</table>

</div>

<!-- Emergency Contact Details -->
<div class="tab-pane" id="tab2">

<table>
  <tbody>
    <tr>
      <td>Name of Contact : </td>
      <td>{{ member.em_contact_name }}</td>
      <td>Relationship :</td>
      <td>{{ member.em_relationship }}</td>
    </tr>
    <tr>
      <td>Contact No. : </td>
      <td>{{ member.em_contact_no }}</td>
      <td>Mobile Phone :</td>
      <td>{{ member.mobile_phone }}</td>      
    </tr>
  </tbody>
</table>

</div>

<!--Rowing Membership -->
<div class="tab-pane" id="tab3">

<table>
  <tbody>
    <tr>
      <td>Membership : </td>
      <td>{{ member.membership_type }}</td>
      <td>Rowing Points :</td>
      <td>{{ member.rowing_points }}</td>  
    </tr>
    <tr>
      <td>British Rowing No. :</td>
      <td>{{ member.br_membership_no }}</td>
      <td>Sculling Points :</td>
      <td>{{ member.sculling_points }}</td>      
    </tr>
  </tbody>
</table>	

</div>

<!-- Swimming Ability -->
<div class="tab-pane" id="tab4">
<table>
  <tbody>
    <tr>
      <td>Swim 50 metres : </td>
      <td>{{ member.get_swim_50_display }}</td>
    </tr>
    <tr>
      <td>Swim 5 underwater : </td>
      <td>{{ member.get_swim_5_underwater_display }}</td>
    </tr>
    <tr>
      <td>Tread water 2 mins : </td>
      <td>{{ member.get_swim_tread_display  }}</td>
    </tr>
  </tbody>
  </table>
  
</div>  
  
<div class="tab-pane" id="tab5">
  
<!-- Health Questionnaire-->
	<table>
	  <tbody>
	    <tr>
	      <td>Good general health? :</td>
	      <td>{{ member.get_health_1_good_health_display }}</td>
	      <td>if No - details :</td>
	      <td>{{ member.health_1_details }}</td>
	    </tr>
	  </tbody>
	</table>  
	
	<br>
	
	<table>
	  <tbody>
	    <tr>
	      <td>Diabetes : </td>
	      <td>{{ member.get_health_2_diabetes_display }}</td>
	      <td>Epilepsy : </td>
	      <td>{{ member.get_health_2_epilepsy_display }}</td>
	    </tr>
	    <tr>
	      <td>Asthma : </td>
	      <td>{{ member.get_health_2_asthma_display }}</td>
	      <td>Dyspraxia : </td>
	      <td>{{ member.get_health_2_dyspraxia_display }}</td>      
	    </tr>
	    <tr>
	      <td>Heart Disease : </td>
	      <td>{{ member.get_health_2_heart_disease_display }}</td>
	      <td>Other :</td>
	      <td>{{ member.get_health_2_other_display }}</td>
	    </tr>
	   	 <tr>
	      <td></td>
	      <td></td>
	      <td>Details :</td>
	      <td>{{ member.health_2_details }}</td>
	    </tr>
	  </tbody>
	  </table>
	  
	<br>
	  
	<table>
	  <tbody>
	    <tr>
	      <td>Other conditions affecting Rowing</td>
	      <td>{{ member.health_3_details }}</td>
	      <td>Other health conditions</td>
	      <td>{{ member.health_4_details }}</td>  
	    </tr>
	  </tbody>
	</table>	
	
</div>

</div>

</div>

{% endblock content%}

<br>
<br>
<br>
