{% extends "base.html" %}

{% block title %}List of Payments{% endblock %}

{% block content %}
	{% if membership_list %}
	
{% for  member in membership_list %}
   {% if forloop.first %}
    <h2>List of <a href="/membership/{{ member.membership_type.id }}/">{{ member.membership_type.name }}</a> Members</h2>
    {% endif %}	    
{% endfor %}   	

<table class="simple_table">
  <tbody>
	<th>Name</th>
  	<th>Start Date</th>
    <tr>
	    {% for member in membership_list %}
	    	<td><a href="/member/{{ member.id }}/">{{ member.first_name }} {{ member.last_name }}</td>
			<td>{{ member.start_date }}</td>
	</tr>
	    {% endfor %}
 </tbody>
</table>
	{% else %}
	    <p>No payments are available.</p>
	{% endif %}
{% endblock %}
