{% extends "base.html" %}

{% block active_members %}active{% endblock %}

{% block title %}Member Detail{% endblock %}

{% block content %}
<h3>{{ member.first_name }} {{ member.last_name }}  {% if perms.members.change_member %} <a href="/member/manage/{{ member.id }}/"><img src="/members/static/icons/edit.png" title="Edit {{ member.first_name }}'s details" alt="Edit Member" width="24" length="24"></a>{% endif %}</h3>

<table class="table ">
  <tbody>
    <tr>
      <td><strong>Title : </strong></td>
      <td>{{ member.get_title_display }}</td>
	  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td><strong>Date of Birth : </strong></td>
      <td>{{ member.date_of_birth }}</td>
    </tr>
    <tr>
      <td><strong>First Name : </strong></td>
      <td>{{ member.first_name }}</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td><strong>Gender : </strong></td>
      <td>{{ member.get_gender_display }}</td>      
    </tr>
    <tr>
      <td><strong>Last Name : </strong></td>
      <td>{{ member.last_name }}</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td><strong>Payments :</strong></td>
      <td><a href="/payment/?member={{ member.id }}"><img src="/members/static/icons/history.png" title="{{ member.first_name }}'s payment history" alt="Payment History" width="24" length="24"></a>
      {% if perms.payment.change_payment %}
      	&nbsp;<a href="/payment/create/{{ member.id }}/"><img src="/members/static/icons/create.png" title="Add a payment for {{ member.first_name }}"alt="Create Payment" width="24" length="24"></a></td>
      {% endif %}
    </tr>
	<tr>
		<td><strong>Membership : </strong></td>
		<td><a href="/member/?membership_type={{ member.membership_type.id }}">{{ member.membership_type.name }}</a></td>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td><strong>Payment Method:</strong></td>
		<td>{{ member.get_payment_method_display }}</td>
	</tr>
	<tr>
		<td><strong>Created By : </strong></td>
		<td></td>
		<td></td>
		<td><strong>Start Date :</strong></td>
		<td>{{ member.start_date }}</td>
	</tr>
	<tr>
	      <td><strong>Parent/Guardian : </strong></td>
	      <td>{{ member.pg_name }}</td>
	      <td></td>
	      <td><strong>Wins Record</strong></td> 
	      <td></a><a href="/results/?crew_members={{ member.id }}" title="All wins for {{ member.full_name }}"><img src="{{ STATIC_URL }}icons/wins.png" alt="Wins History" width="24" length="24"></a></td>
	    </tr>
	  </tbody>
	</table>  	  

<br>

<div class="tabbable">
<ul class="nav nav-tabs">
	<li class="active"><a href="#tab1" data-toggle="tab">Address</a></li>
	<li><a href="#tab2" data-toggle="tab">Emergency</a></li>
	<li><a href="#tab3" data-toggle="tab">Rowing</a></li>
	<li><a href="#tab4" data-toggle="tab">Swimming Ability</a></li>
	<li><a href="#tab5" data-toggle="tab">Health Questionnaire</a></li>
</ul>

<!-- Address -->
<div class="tab-content">
<div class="tab-pane active" id="tab1">
<table class="table">
  <tbody>
    <tr>
      <td><strong>Address 1 : </strong></td>
      <td>{{ member.address_1 }}</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td><strong>Home Phone :</strong></td>
      <td>{{ member.home_phone }}</td>
    </tr>
    <tr>
      <td><strong>Address 2 : </strong></td>
      <td>{{ member.address_2 }}</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td><strong>Mobile Phone :</strong></td>
      <td>{{ member.mobile_phone }}</td>      
    </tr>
    <tr>
      <td><strong>Town/City : </strong></td>
      <td>{{ member.address_3 }}</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td><strong>Email :</strong></td>
      <td><a href="mailto:{{ member.email }}">{{ member.email }}</a></td>
    </tr>
    <tr>
      <td><strong>County : </strong></td>
      <td>{{ member.address_4 }}</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td></td>
      <td></td>      
    </tr>            
    <tr>
      <td><strong>Post Code : </strong></td>
      <td>{{ member.post_code }}</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td></td>
      <td></td>      
    </tr>
  </tbody>
</table>

</div>

<!-- Emergency Contact Details -->
<div class="tab-pane" id="tab2">

<table class="table">
  <tbody>
    <tr>
      <td><strong>Name of Contact : </strong></td>
      <td>{{ member.em_contact_name }}</td>
      <td><strong>Relationship :</strong></td>
      <td>{{ member.em_relationship }}</td>
    </tr>
    <tr>
      <td><strong>Contact No. : </strong></td>
      <td>{{ member.em_contact_no }}</td>
      <td><strong>Mobile Phone :</strong></td>
      <td>{{ member.mobile_phone }}</td>      
    </tr>
  </tbody>
</table>

</div>

<!--Rowing Membership -->
<div class="tab-pane" id="tab3">

<table class="table">
  <tbody>
    <tr>
      <td><strong>Membership : </strong></td>
      <td>{{ member.membership_type }}</td>
      <td><strong>Rowing Points :</strong></td>
      <td>{{ member.rowing_points }}</td>  
    </tr>
    <tr>
      <td><strong>British Rowing No. :</strong></td>
      <td>{{ member.br_membership_no }}</td>
      <td><strong>Sculling Points :</strong></td>
      <td>{{ member.sculling_points }}</td>      
    </tr>
  </tbody>
</table>	

</div>

<!-- Swimming Ability -->
<div class="tab-pane" id="tab4">
<table class="table">
  <tbody>
    <tr>
      <td><strong>Swim 50 metres : </strong></td>
      <td>{{ member.get_swim_50_display }}</td>
    </tr>
    <tr>
      <td><strong>Swim 5 underwater : </strong></td>
      <td>{{ member.get_swim_5_underwater_display }}</td>
    </tr>
    <tr>
      <td><strong>Tread water 2 mins : </strong></td>
      <td>{{ member.get_swim_tread_display  }}</td>
    </tr>
  </tbody>
  </table>
  
</div>  
  
<div class="tab-pane" id="tab5">
  
<!-- Health Questionnaire-->
	<table class="table">
	  <tbody>
	    <tr>
	      <td><strong>Good general health? :</strong></td>
	      <td>{{ member.get_health_1_good_health_display }}</td>
	      <td><strong>if No - details :</strong></td>
	      <td>{{ member.health_1_details }}</td>
	    </tr>
	  </tbody>
	</table>  
	
	<br>
	
	<table class="table">
	  <tbody>
	    <tr>
	      <td><strong>Diabetes : </strong></td>
	      <td>{{ member.get_health_2_diabetes_display }}</td>
	      <td><strong>Epilepsy : </strong></td>
	      <td>{{ member.get_health_2_epilepsy_display }}</td>
	    </tr>
	    <tr>
	      <td><strong>Asthma : </strong></td>
	      <td>{{ member.get_health_2_asthma_display }}</td>
	      <td><strong>Dyspraxia : </strong></td>
	      <td>{{ member.get_health_2_dyspraxia_display }}</td>      
	    </tr>
	    <tr>
	      <td><strong>Heart Disease :</strong> </td>
	      <td>{{ member.get_health_2_heart_disease_display }}</td>
	      <td><strong>Other :</strong></td>
	      <td>{{ member.get_health_2_other_display }}</td>
	    </tr>
	   	 <tr>
	      <td></td>
	      <td></td>
	      <td><strong>Details :</strong></td>
	      <td>{{ member.health_2_details }}</td>
	    </tr>
	  </tbody>
	  </table>
	  
	<br>
	  
	<table class="table">
	  <tbody>
	    <tr>
	      <td><strong>Other conditions affecting Rowing</strong></td>
	      <td>{{ member.health_3_details }}</td>
	      <td><strong>Other health conditions</strong></td>
	      <td>{{ member.health_4_details }}</td>  
	    </tr>
	  </tbody>
	</table>	
	
</div>

</div>

</div>

{% endblock content%}

<br>
<br>
<br>
