<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}screen.css" />
    </head>
<body>
<h1>{{ member.first_name }} {{ member.last_name }}</h1>

<div class="table_left">

<table border=1>
  <tbody>
    <tr>
      <td>Title : </td>
      <td>{{ member.get_title_display }}</td>
    </tr>
    <tr>
      <td>First Name : </td>
      <td>{{ member.first_name }}</td>
    </tr>
    <tr>
      <td>Last Name : </td>
      <td>{{ member.last_name }}</td>
    </tr>    
    <tr>
      <td>Gender : </td>
      <td>{{ member.get_gender_display }}</td>
    </tr>
  </tbody>
</table>
<br>
</div>

<table border=1>
  <tbody>
    <tr>
      <td>Date of Birth : </td>
      <td>{{ member.date_of_birth }}</td>
    </tr>
    <tr>
      <td>Name : </td>
      <td>{{ member.first_name }} {{ member.last_name }}</td>
    </tr>
    <tr>
      <td>Gender : </td>
      <td>{{ member.get_gender_display }}</td>
    </tr>
  </tbody>
  </table>

<br>

<div class="table_left">

<table border=1>
  <tbody>
    <tr>
      <td>

<table border=1>
  <tbody>
    <tr>
      <td>Address 1 : </td>
      <td>{{ member.address_1 }}</td>
    </tr>
    <tr>
      <td>Address 2 : </td>
      <td>{{ member.address_2 }}</td>
    </tr>
    <tr>
      <td>Town/City: </td>
      <td>{{ member.address_3 }}</td>
    </tr>
    <tr>
      <td>County : </td>
      <td>{{ member.address_4 }}</td>
    </tr>            
    <tr>
      <td>Post Code : </td>
      <td>{{ post_code }}</td>
    </tr>
  </tbody>
</table>

	</td>
    <td>

<table border=1>
  <tbody>
    <tr>
      <td>Date of Birth : </td>
      <td>{{ member.date_of_birth }}</td>
    </tr>
    <tr>
      <td>Name : </td>
      <td>{{ member.first_name }} {{ member.last_name }}</td>
    </tr>
    <tr>
      <td>Gender : </td>
      <td>{{ member.get_gender_display }}</td>
    </tr>
  </tbody>
  </table>
		</td>	
		</tr>
  </tbody>
    </table>



</body>
</html>