#hor-list li{
  display: inline;
  	font-size:14px;
	font-weight:bold;
}

td:nth-child(odd) {
	padding-right:5px;
	text-align:right;
	width:200px;
	font-weight:bold;
}

td:nth-child(even) {
	padding-left:5px;
	text-align:left;
	width:200px;
}


#id_membership_type {
	width:150px;
}

#id_first_name {
	width:135px;
}

#id_last_name {
	width:135px;
}

/* Payment Form */

#id_member {
	width:150px;
}

#id_payment_type {
	width:150px;
}

#id_payment_date {
	width:135px;
}

div.pagination {
	color:red;
}