{% extends "base.html" %}

{% load pagination_tags %}

{% block active_membership %}active{% endblock %}

{% block title %}Membership{% endblock %}

{% block content %}

<script>
$(function(){
  $("#myTable").tablesorter();
});
</script>

<h3>Membership Types</h3>
{% if membership_list %}

{% autopaginate membership_list %}
<table id="myTable" class="table tablesorter">
	<thead>
		<tr>
			<th>Name</th>
			<th>Cost</th>
			<th>Members</th>
		</tr>
	</thead>
	<tbody>
		{% for membership in membership_list %}
		<tr>
			<td>{{ membership.name }}</td>
			<td>&pound;{{ membership.cost }}</td>
				<td><a href="/member/?membership_type={{ membership.id }}"><img src="{{ STATIC_URL }}icons/people.png" alt="Payment History" width="24" length="24"> ( {{ membership.types.count }} )</a></td>
		</tr>
		{% endfor %}
	</tbody>
		

 </table>
 
 {% paginate %}
{% else %}
<p>No payments are available.</p>
{% endif %}
{% endblock %}
