{% extends "base.html" %}

{% block active_membership %}active{% endblock %}

{% block title %}List of Payments{% endblock %}

{% block content %}


<h3>Membership Types</h3>
{% if membership_list %}
<table class="table table-hover">
	<tr>
		<th>Name</th>
		<th>Cost</th>
		<th>Members</th>
	</tr>
{% for membership in membership_list %}
	<tr>
		<td>{{ membership.name }}</td>
		<td>{{ membership.cost }}</td>
			<td><a href="/member/?membership_type={{ membership.id }}"><img src="{{ STATIC_URL }}people.png" alt="Payment History" width="24" length="24"> ( {{ membership.types.count }} )</a></td>
</tr>
{% endfor %}

 </table>
{% else %}
<p>No payments are available.</p>
{% endif %}
{% endblock %}
