{% extends "base.html" %}

{% block active_account %}active{% endblock %}

{% block title %}Payment Detail{% endblock %}

{% block content %}
<h1>{{ member.first_name }} {{ member.last_name }}</h1>

<h3>User Permissions</h3>
<table class="table">
  <tbody>
    <tr>
		<td>User</td>
		<td>Members</td>
		<td>Payments</td>
		<td>Events</td>
		<td>Results</td>
	</tr>
	<tr>
		<td>{{ user.username }}</td>
		<td>{% if perms.members.add_member %}<img src="/members/static/icons/create.png" width="24" length="24">&nbsp;{% endif %}{% if perms.members.change_member %}<img src="/members/static/icons/edit.png" width="24" length="24">&nbsp;{% endif %}{% if perms.members.delete_member %}<img src="/members/static/icons/delete.png" width="24" length="24">&nbsp;{% endif %}</td>
		<td>{% if perms.payment.add_payment %}<img src="/members/static/icons/create.png" width="24" length="24">&nbsp;{% endif %}{% if perms.payment.change_payment %}<img src="/members/static/icons/edit.png" width="24" length="24">&nbsp;{% endif %}{% if perms.payment.delete_payment %}<img src="/members/static/icons/delete.png" width="24" length="24">&nbsp;{% endif %}</td>
		<td>{% if perms.results.add_event %}<img src="/members/static/icons/create.png" width="24" length="24">&nbsp;{% endif %}{% if perms.results.change_event %}<img src="/members/static/icons/edit.png" width="24" length="24">&nbsp;{% endif %}{% if perms.results.delete_event %}<img src="/members/static/icons/delete.png" width="24" length="24">&nbsp;{% endif %}</td>
		<td>{% if perms.results.add_result %}<img src="/members/static/icons/create.png" width="24" length="24">&nbsp;{% endif %}{% if perms.results.change_result %}<img src="/members/static/icons/edit.png" width="24" length="24">&nbsp;{% endif %}{% if perms.results.delete_result %}<img src="/members/static/icons/delete.png" width="24" length="24">&nbsp;{% endif %}</td>
    </tr>
  </tbody>
  </table>
  
{{ perms.members }}  
<br>  

<br>
<br>
<br>
{% endblock %}